<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Doshrock</h2>
                <hr class="light">
                <p class="text-faded">Doshrock (Dosirak) refers to a packed meal, which usually consists of cooked rice and some side dishes. It can also mean lunch boxes, historically home-made, but you can buy them from various stores and restaurants these days. </p>
				<p class="text-faded">
				Doshrock is not wholly about food, but Korean culture (K-culture) as well. It brings both culture and cuisine to Montreal via resturant. 				</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
