<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
{% for cat in site.data.menu %}
            <div class="col-lg-6 col-sm-6">
				<a href="#full_menu" class="portfolio-box">

					<img src="img/menu/{{cat[1].image}}" class="img-responsive" alt="T">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
								{{ cat[1].category}}
                            </div>
							<div class="project-name">{{cat[1].category_fr}}</div>
							<div class="project-name">{{cat[1].category_en}}</div>
							<div class="project-name">{{cat[1].category_kr}}</div>
                        </div>
                    </div>
                </a>
            </div>
{% endfor %}
        </div>
    </div>
</section>
