<!DOCTYPE html>
<html lang="{{page.lang}}">
{% include head.html %}

<body id="page-top">

<div class="black-background"></div>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand page-scroll" href="/#page-top">{%- include i18n.html token='doshrock_upper' -%}</a>
        </div>






        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
					<a class="page-scroll {%- if page.lang!="en" and page.lang != "kr"%} btn-primary {% endif %}" href="full_menu_fr">Français</a>
                </li>
                <li>
                    <a class="page-scroll {%- if page.lang=="en" %} btn-primary {% endif %}" href="full_menu_en">English</a>
                </li>
                <li>
                    <a class="page-scroll {%- if page.lang=="kr" %} btn-primary {% endif %}" href="full_menu_kr">한국어</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



  {% assign all_tags = "" %}
  {% for cat in site.data.menu %}
		{% for menu_detail in cat[1].menu %}
			{% if page.lang == 'fr' %}
				{% assign item_tag = menu_detail.tag_fr | join: ',' %}
			{% elsif page.lang == 'en' %}
				{% assign item_tag = menu_detail.tag_en | join: ',' %}
			{% else %}
				{% assign item_tag = menu_detail.tag_kr | join: ',' %}
			{% endif %}
			{% assign all_tags = all_tags | append: ',' | append: item_tag %}
		{% endfor %}
  {% endfor %}

  {% assign unique_tags = all_tags | split: ',' | uniq | sort %}
  {% assign tag_elements = "" %}
  {% for tag in unique_tags %}
    {% capture tag_element %}{ "tag": "{{ tag }}"}{% endcapture %}

    {% assign tag_elements = tag_elements | append: ',' | append: tag_element %}
  {% endfor %}

<section class="no-padding" id="full_menu">
    <div class="container-fluid">
        <div class="row">
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
            <div class="col-lg-12 col-sm-12">
				<div class="tag-buttons">
							<button class="tag-button btn-success" data-tag="all">All/Tout</button>&nbsp;
					{% for tag_element in unique_tags %}
						{% assign len = tag_element | size %}
						{% if len > 0 %}
							<button class="tag-button btn-success" data-tag="{{ tag_element }}">{{ tag_element }}</button>&nbsp;
						{% endif %}
					  {% endfor %}
				</div>
		</div>
        <div class="row">
{% for cat in site.data.menu %}
            <div class="col-lg-12 col-sm-12">
				  <aside>
					  <div class="container text-center">
					<hr>
							<strong>{{ cat[1].category_fr}} / {{ cat[1].category_en}} ({{ cat[1].category}})</strong>
					  </div>
				  </aside>


				<div class="row lg-12">
				<div class="col-lg-12 col-sm-12">
					<div class="row lg-12">
				{% for menu_detail in cat[1].menu %}
					{% if page.lang == 'fr' %}
						<div class="col-lg-4 col-sm-4 menu-item" data-tags="{{menu_detail.tag_fr | join: ' '}}">
					{% elsif page.lang == 'en' %}
						<div class="col-lg-4 col-sm-4 menu-item" data-tags="{{menu_detail.tag_en | join: ' '}}">
					{% else %}
						<div class="col-lg-4 col-sm-4 menu-item" data-tags="{{menu_detail.tag_kr | join: ' '}}">
					{% endif %}
								<div class="row md-12">
									<div class="col-md-1"></div>
									<div class="col-md-10">
												<div class="row md-12">
													<div class="col-md-1"></div>
													<div class="col-md-11">
														<img src="img/menu/{{menu_detail.image}}" class="img-responsive" alt="{{ menu_detail.name_fr}}">



												<div class="portfolio-box-caption">
													<div class="portfolio-box-caption-content">
														<div class="row md-12">
															<div class="col-md-9">
																	{{ menu_detail.name}}<br/>
																<span class="text-muted">
																	{% if page.lang == 'fr' %}
																		{{ menu_detail.name_fr}} <br/>
																	{% elsif page.lang == 'en' %}
																		{{ menu_detail.name_en}}<br/>
																	{% else %}
																		{{ menu_detail.name_kr}}<br/>
																	{% endif %}
																</span>
															</div>

															<div class="col-md-3"><span class="text-muted">${{menu_detail.prices[0].price}}</span></div>

														</div>
													</div>
												</div>

													</div>
												</div>
												<br/><br/>
									</div>
									<div class="col-md-1"></div>
								</div>
					</div>
				{% endfor %}
					</div>
				</div>
				</div>




            </div>
{% endfor %}
        </div>
    </div>
</section>



    <script>
		const tagButtons = document.querySelectorAll('.tag-button');
        const menuItems = document.querySelectorAll('.menu-item');

        tagButtons.forEach(button => {
            button.addEventListener('click', () => {
                const selectedTag = button.getAttribute('data-tag');
                menuItems.forEach(item => {
                    const itemTags = item.getAttribute('data-tags').split(' ');
                    if (itemTags.includes(selectedTag) || selectedTag === 'all') {
                        item.style.display = 'block';
                    } else {
                        item.style.display = 'none';
                    }
                });
            });
        });


    </script>
  {% include scripts.html %}
</body>
</html>
