<!DOCTYPE html>
<html lang="{{page.lang}}">
{% include head.html %}
<body id="page-top">


	{% comment %}
<!--
<div class="container">
{% for cat in site.data.menu %}
	<div class="row md-12 gx-12 gy-12">
		<strong>{{ cat[1].category}} / {{ cat[1].category_en}} </strong>
				<br/>
				<br/>
				{% for menu_detail in cat[1].menu %}
				<div class="row gx-12">
					<div class="col-md-1 gx-12 gy-24"><img src="img/menu/{{menu_detail.image}}" alt="{{ menu_detail.category }}" class="img-circle" width="40" height="40"></div>
					<div class="col-md-7 gx-2 gy-24">  {{menu_detail.id }}. {{ menu_detail.name }} / {{menu_detail.name_en}}</div>
						<div class="col-md-4 gx-12 gy-24" >${{menu_detail.prices[0].price}}</div>
				</div>
				{% endfor %}

				<br/>
				<br/>
	</div>



{% endfor %}
</div>
-->
	{% endcomment %}



<section class="no-padding" id="full_menu">
    <div class="container-fluid">
        <div class="row">
{% for cat in site.data.menu %}
            <div class="col-lg-12 col-sm-12">
				  <aside>
					  <div class="container text-center">
		<hr>
							<strong>{{ cat[1].category_fr}} / {{ cat[1].category_en}} ({{ cat[1].category}})</strong>
					  </div>
				  </aside>

				<!--a href="#" class="portfolio-box"-->

				<div class="row lg-12">
				<div class="col-lg-12 col-sm-12">
					<div class="row lg-12">
				{% for menu_detail in cat[1].menu %}
					<div class="col-lg-3 col-sm-3">
								<div class="row md-12">
									<div class="col-md-1"></div>
									<div class="col-md-10">
												<div class="row md-12">
													<div class="col-md-1"></div>
													<div class="col-md-11">
														<img src="img/menu/{{menu_detail.image}}" class="img-responsive" alt="{{ menu_detail.name_fr}}">
													</div>
												</div>
												<div class="portfolio-box-caption">
													<div class="portfolio-box-caption-content">
														<div class="row md-12">
															<div class="col-md-8">
																<span class="text-muted">
																	{{ menu_detail.name_fr}} /<br/>
																	{{ menu_detail.name_en}}<br/>
																</span>
															</div>

															<div class="col-md-2"><span class="text-muted">${{menu_detail.prices[0].price}}</span></div>

														</div>
													</div>
												</div>
												<br/><br/>
											<!--/a-->
									</div>
									<div class="col-md-1"></div>
								</div>
					</div>
				{% endfor %}
					</div>
				</div>
				</div>




            </div>
{% endfor %}
        </div>
    </div>
</section>





  {% include scripts.html %}
</body>
</html>
