<!DOCTYPE html>
<html lang="{{page.lang}}">
{% include head.html %}

<body id="page-top">

<div class="black-background"></div>

<nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand page-scroll" href="/#page-top">{%- include i18n.html token='doshrock_upper' -%}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>




</nav>

<div class="container">
  <div class="row" style="margin-bottom: 100px;">
    {% for item in site.table_order %}
      <div class="col-md-3">
        <div class="box">
			<a href="{{item}}" class="box-link">{{forloop.index}}</a>
        </div>
      </div>

	  {% assign column_number = forloop.index | modulo: 4 %}
      {% if column_number == 0 %}
        </div>
        <div class="row" style="margin-bottom: 100px;">
      {% endif %}
    {% endfor %}
  </div>
</div>

  {% include scripts.html %}
</body>
</html>
