<!DOCTYPE html>
<html lang="{{page.lang}}">
{% include head.html %}

<body id="page-top">

<div class="black-background"></div>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand page-scroll" href="/#page-top">{%- include i18n.html token='doshrock_upper' -%}</a>
        </div>




</nav>

<div class="container">
  <div class="row" style="margin-bottom: 100px;">
    {% for item in site.table_order %}
      <div class="col-md-3">
        <div class="box">
			<a href="{{item}}" class="box-link">{{forloop.index}}</a>
        </div>
      </div>

	  {% assign column_number = forloop.index | modulo: 4 %}
      {% if column_number == 0 %}
        </div>
        <div class="row" style="margin-bottom: 100px;">
      {% endif %}
    {% endfor %}
  </div>
</div>

  {% include scripts.html %}
</body>
</html>
